.profile--container {
  grid-column: 1 / -1;
  margin-top: 2rem;
  color: $color-font;
  border-radius: 5px;
  font-size: var(--font16);
}

.profile {
  height: min-content;
  background-color: $color-grey-light2;
  padding: 2rem 4rem;
  @include bs-light;
  border-radius: 5px;

  // @media only screen and (max-width: $bp-800){
  //   width: 90%;
  //   padding: 1rem 2rem;
  // }

}

.profile--image {
  width: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  grid-column: 1/-1;
  border: 3px solid $color-grey-light;
  padding: 0.3rem;
  display: block;
  margin: 0 auto;
}

.profile2{
  background-color: $color-grey-light;
  padding: 2rem 1rem;
  border-radius: 5px;
  height: min-content;
  width: 50vw;
  display: block;
  margin: 2rem auto;
  margin-top: 1rem;
  @include bs-light;

  & > *{
    display: flex;
    border-bottom: 2px solid $color-primary-dark;
    justify-content: space-between;
    margin-bottom: 2rem;
    @include bs-light;
    align-items: center;
    padding: 0.2rem 0.5rem;
  }

  .profile--input {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    width: 70%;
  }
}

.admin--icon__yes {
  width: 1.4rem;
  height: 1.4rem;
  fill: green;
  border-radius: 50%;
  border: 1px solid green;
  padding: 0.3rem;
}

.admin--icon__no {
  width: 1.4rem;
  height: 1.4rem;
  fill: orangered;
  border-radius: 50%;
  border: 1px solid orangered;
  padding: 0.3rem;
}

.profile3 {
  background-color: $color-grey-light;
  border-radius: 5px;
  padding: 2rem 1rem;
  grid-column: 2/-1;
  padding-top: 0.1rem;
  font-size: 1.2rem;
  .profile3--heading{
    padding: 0.5rem;
  }
}

.update__submit{
  padding: 0.8rem 1rem;
}

.profile3--table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tbody:nth-child(even) {
    background-color: #dddddd;
  }
}