$color-font: #4d4d33;
$color-primary-light: #ffc61a;
$color-primary-dark: #b58900;
$color-white: white;
$color-black : black;
$color-green: green;
$z-index1: 1;
$z-index2 : 2;
$z-index10: 10;
$z-index11: 11;
$color-grey-light: rgba(245, 245, 240, 1);



:root{
  --font16 : 1.6rem;
  --font14 : 1.4rem;
  --bs-shadow: 2rem 2rem 4rem rgba(0,0,0, .4);
}