.homepage {
  grid-column: col-start 1 / span 10;
  font-size: var(--font14);
  // padding: 0 3rem;
  margin-top: 4rem;

  @media only screen and (max-width: $bp-600){
    grid-column: 1 / -1;
    // padding: 0;
  }

  &--products{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 28rem));
    margin-top: 2rem;
    justify-content: center;
    align-content: center;
    justify-items: center;

    @media only screen and (max-width: $bp-1000){
      grid-template-columns: repeat(auto-fit, minmax(min-content, 25rem));
    }

    @media only screen and (max-width: $bp-800){
      margin-top: 0.3rem;
      grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
      padding: 0 1.5rem;
      grid-gap: 3rem;
    }
    
    @media only screen and (max-width: $bp-600){
      // grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem;
    }
    @media only screen and (max-width: $bp-490){
      // grid-template-columns: repeat(auto-fit, minmax(min-content, 18rem));
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
    }

  }

  &--heading{
    text-align: center;
    font-style: italic;
    margin-top: 2rem;
    text-shadow: 0 2px 4px rgba($color: #000000, $alpha: .8);

    @media only screen and (max-width: $bp-800){
      margin-top: 0.3rem;
    }

  }


}

.card {
  min-width: 28rem;
  @include bs;
  display: grid;
  position: relative;
  padding: 1rem 1rem;

  @media only screen and (max-width:$bp-600){
    min-width: 18rem;
  }
 
  .card--fake{
    z-index: $z-index1;
    position: absolute;
    right: 2px;
    top: 2px;
    // padding: 1rem;

    .card--fake__strike{
      text-decoration: line-through;
      color: red;
    }
  
    .card--fake__text{
      color: green;
      font-weight: 700;
    }
  }

  &--heading {
    text-align: center;
    color: $color-primary-dark;
    text-decoration: none;
    font-size: var(--font14);
    background-color: black;
    padding: 0.3rem 0.5rem;

    @media only screen and (max-width: $bp-800){
      font-size: 1.2rem;
      padding: 0.1rem;
    }
  }

  &--image{
    width: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 1rem;
    border-radius: 50%;
    @include bs-light;
    transition: transform 0.5s;

    &:hover{
      transform: scale(1.05);
    }
  }

  &--element {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;

  }


  &--title {
    font-weight: 500;
    margin-right: 0.5rem;
  }
}

.rating--icon {
  fill: $color-primary-dark;
  width: 1.5rem;
  height: 1.5rem;

  @media only screen and (max-width: $bp-600){
    width: 1rem;
    height: 1rem;
  }
}


.rating--icon-1 {
  fill: $color-primary-dark;
  width: 2rem;
  height: 2rem;
}

.card--rating {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
}