.alert {
  padding: 2rem;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 1.5rem;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 2.2rem;
  line-height: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}